/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/


  #site_header{
      background-color: #ff8523;
      padding: 20px 10px 60px 10px;
      margin: 0px ;
  }

.main_navigation > a {
      color: white;
      border: 1px solid white;
      padding: 5px;
      text-decoration: none;
      padding: 5px 30px;
      margin: 5px 2px 0px 0px;
      border-radius: 3px;
  }

  body {
      background-image: url("img/bg.jpg");
      margin: 10px 50px 10px 50px;
      border: 2px solid #ffd24a;
      border-radius: 3px;
      padding: 0px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 300;
      box-shadow: 2px 2px 2px 2px gray;
  }

  #page_content {
    background-color: white;
    padding: 10px;
  }

  h1, h2, h3, a{
  color: #1fabe5;
  }

  thead > tr > td {
    background-color:#1fabe5;
    border: .5px solid;
    border-color: black;
    color: white;
  }

   table, tr, td {
    border: .5px solid #1fabe5;
    border-collapse: collapse;
    padding: 10px;
  }

  table > tbody > tr > td > img {
    height: 40px;
    width: 40px;
  }

  section {
    border-bottom: 2px solid #dddddd;
    padding-bottom: 30px;
  }

  section > form {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
  }

  .name {
    background-color: #ff8523;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 98%;
  }

  #first_name, #last_name {
    height: 30px;
    width: 30%;
  }

  .city_container {
   margin-top: 30px;
   padding-bottom: 30px ;
  }

  section > form > div > label, li{
    font-weight: bold;
  }

  #bio {
    border-color: #1fabe5;
    width: 100%;
    margin: 20px 0px;
  }

  #submit_button {
    color: white;
    background-color:#1fabe5;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    text-transform: uppercase;
  }

  #city{
    background-color: white;
  }
