/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
  #site_header  {
                background-color: #ff8523;
                Padding: 20px;

}

.main_navigation > a {
                  color: white;
                  text-decoration; none;
                  border: 1px solid white;
                  padding: 5px;

}

  body {
      background-image: none;
      background-size: cover;
      margin: 30px;
      border: 2px solid #ffd24a;
      font-family: Helvetica, Arial, sans-serif;
  }

  #page_content {



  }
