/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

html {
background-image:image(bg.png);
background-size: cover;


}
  #site_header{
                background-color: #ff8523;
                padding: 30px;
                margin: 0px ;
}

  #logo{
    height: 50px;
    width: 200px;
  }

.main_navigation > a {
      color: white;
      border: 1px solid white;
      padding: 5px;
      text-decoration: none;
      padding: 5px 20px;
      margin: 10px 2px 0px 2px;
      border-radius: 3px;
}

  body {
      background-image: url("img/bg.jpg");
      margin: 30px;
      border: 2px solid #ffd24a;
      border-radius: 3px;
      padding: 0px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 300;

        }

  #page_content {

    background-color: white;
    padding: 3px;


  }

  h1, h2, h3, a{
  color: #1fabe5;
  }

  thead > tr > td {
    background-color:#1fabe5;
    border: .5px solid;
    border-color: black;
    color: white;
  }

   table, tr, td {
    border: .5px solid #1fabe5;
    border-collapse: collapse;
    padding: 10px;
  }

  img {
    height: 40px;
    width: 40px;
  }

  section {
    border-bottom: 5px solid #dddddd;
    padding-bottom: 30px;
  }

  section > form {
    background-color: #dddddd;
    padding: 20px;
    border-radius: 5px;
  }

  .name {
    background-color: #ff8523;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
  }
  #first_name, #last_name {
    height: 40px;
    width: 240px;
  }

  .city_container {
   margin-top: 30px;
   padding-bottom: 30px ;
  }


  section > form > div > label, li{
    font-weight: bold;
  }

  #bio {
    border-color: #1fabe5;
    width: 100%;
    margin: 20px 0px;
  }

  #submit_button {
    color: white;
    background-color:#1fabe5;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    text-transform: uppercase;
  }
